<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>210662092731-ip1pupar9f3s9hb2assqk0vdsfsq5ois.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210662092731-ip1pupar9f3s9hb2assqk0vdsfsq5ois</string>
	<key>API_KEY</key>
	<string>AIzaSyDJM96XQiGbQYdGxvfUrRiSVJagrwVQBJA</string>
	<key>GCM_SENDER_ID</key>
	<string>210662092731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IM.Lexicon</string>
	<key>PROJECT_ID</key>
	<string>lexicon-2c3b4</string>
	<key>STORAGE_BUCKET</key>
	<string>lexicon-2c3b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:210662092731:ios:0140588d4009efda</string>
	<key>DATABASE_URL</key>
	<string>https://lexicon-2c3b4.firebaseio.com</string>
</dict>
</plist>
